#thermostat-schedule {
    min-height: 300px;

    .title, .subtitle {
        color: $BLU3;
    }

    .subtitle {
        margin-bottom: 50px;

        @media (min-width: $screen-md-min) {
            margin-bottom: 46px;
        }
    }

    .title {
        font-size: 32px;
        font-weight: 600;
    }

    #schedule-layout-view {
        .empty-list-msg {
            color: $RED1;

            @media (min-width: $screen-md-min) {
                padding-left: 25px;
            }
        }

        .add-interval-button-region {
            padding-right: 35px;

            .add-interval {
                width: 83px;

                .text {
                    font-size: 14px;
                    font-weight: 600;
                }

                .add-icon {
                    width: 30px;
                    height: 30px;
                    background: url("/images/icons/icon_add_blue.svg") no-repeat center;
                    background-size: contain;
                    right: 0;
                }
            }
        }

        .new-interval {
            .float-label-input {
                @media (min-width: $screen-sm-min) {
                    max-width: 32%;
                }
            }
        }

        .add-new-interval-region {
            background-color: $GRY_LT2;

            @media (min-width: $screen-md-min) {
                margin-bottom: 20px;
            }

            .device-state-radio {
                display: inline-block;
            }

            .new-interval {
                z-index: 1;

                .float-label-input {
                    @media (min-width: $screen-sm-min) {
                        max-width: 42%;
                    }
                }

                .add-new-interval-text {
                    font-size: 24px;
                    font-weight: 600;
                    color: $GRY3;
                    margin-left: 24px;
                    margin-top: 30px;
                    margin-bottom: 15px;

                    @media (min-width: $screen-md-min) {
                        font-size: 18px;
                        margin-top: 28px;
                        margin-bottom: 13px;
                    }
                }

                .time-row {
                    position: relative;
                    margin-left: 35px;
                    margin-right: 44px;

                    @media (min-width: $screen-md-min) {
                        margin-left: 36px;
                        margin-right: 24px;
                    }

                    .start-time {
                        .clock-icon {
                            height: 44px;
                            width: 38px;
                            background: url("/images/icons/schedules/icon_countdown.svg") no-repeat center;
                            background-size: contain;
                            left: -8px;

                            @media (min-width: $screen-md-min) {
                                width: 24px;
                                height: 24px;
                                top: 43px;
                                left: auto;
                            }
                        }

                        .start-time-region {
                            padding-left: 40px;

                            @media (min-width: $screen-md-min) {
                                padding-left: 35px;
                            }

                            .form-control {
                                @media (max-width: $screen-sm-max) {
                                    height: 60px;
                                }
                            }
                        }
                    }
                }

                .temperature-row {
                    position: relative;
                    margin-left: 35px;
                    margin-right: 44px;

                    @media (min-width: $screen-md-min) {
                        margin-left: 36px;
                        margin-right: 24px;
                    }

                    .temperature {
                        @media (max-width: $screen-sm-max) {
                            margin-bottom: 76px;
                        }

                        .temperature-icon {
                            width: 53px;
                            height: 58px;
                            left: -16px;
                            background: url("/images/icons/schedules/thermometer-partial-fill-grey.svg") no-repeat center;
                            background-size: contain;
                            margin-top: 2px;

                            @media (min-width: $screen-md-min) {
                                width: 34px;
                                height: 34px;
                                left: 5px;
                            }
                        }

                        .temperature-region {
                            padding-left: 40px;

                            @media (min-width: $screen-md-min) {
                                padding-left: 35px;
                            }

                            .form-control {
                                @media (max-width: $screen-md-min) {
                                    height: 60px;
                                }
                            }
                        }
                    }
                }

                .add-button, .cancel-button {
                    float: right;
                    margin-top: 22px;
                }

                .add-button {
                    @media (max-width: $screen-sm-max) {
                        margin-bottom: 22px;
                    }
                }

                .cancel-button {
                    @media (max-width: $screen-sm-max) {
                        margin-bottom: 46px;
                    }
                }
            }
        }

        &.schedule {
            border-bottom: 1px solid $GRY2;
            margin-bottom: 50px;

            @media (min-width: $screen-md-min) {
                margin-bottom: 40px;
            }
        }

        .power-icon {
            background: url("/images/icons/schedules/icon_power.svg") no-repeat center;
            background-size: contain;
            height: 39px;
            width: 39px;

            @media (min-width: $screen-md-min) {
                width: 25px;
                height: 25px;
            }
        }

        .on-off-row {
            margin-left: 16px;
            margin-top: 15px;
            margin-bottom: 50px;

            @media (min-width: $screen-md-min) {
                margin-left: 35px;
                margin-right: 44px;
            }

            .radio-region {
                display: inline-block;
                margin-left: 10px;
                transform: translateY(-20%);
                -webkit-transform: translateY(-20%);
                -ms-transform: translateY(-20%);
                -o-transform: translateY(-20%);
            }
        }

        .schedule-tile {
            border: 1px solid $GRY2;
            margin-bottom: 50px;
            padding: 0;

            @media (min-width: $screen-md-min) {
                margin-bottom: 40px;
            }

            .water-heater-icon-container {
                height: 200px;
                position: relative;

                .water-heater-icon-area {
                    height: 150px;
                    width: 150px;
                }

                .water-heater-icon {
                    height: 150px;
                    width: 150px;
                    background: url("/images/icons/myEquipment/icon_water_heater_off_grey.svg") no-repeat center;
                    background-size: contain;
                }
            }

            .smart-plug-icon-container {
                height: 200px;
                position: relative;

                .smart-plug-icon-area {
                    height: 150px;
                    width: 150px;
                }

                .smart-plug-icon {
                    height: 150px;
                    width: 150px;
                    background: url("/images/icons/myEquipment/icon_smart_plug_off_grey.svg") no-repeat center;
                    background-size: contain;
                }
            }

            .thermostat-icon-container {
                margin-bottom: 50px;
                margin-top: 52px;
                height: 112px;
                position: relative;

                @media (min-width: $screen-md-min) {
                    height: 66px;
                    margin-bottom: 15px;
                    margin-top: 30px;
                }

                .thermostat-icon-area {
                    height: 112px;
                    width: 150px;
                    position: absolute;
                    left: 50%;
                    transform: translate(-25px, 0);
                    -webkit-transform: translate(-25px, 0);
                    -ms-transform: translate(-25px, 0);
                    -o-transform: translate(-25px, 0);


                    @media (min-width: $screen-md-min) {
                        width: 89px;
                        height: 66px;
                        transform: translate(-15px, 0);
                        -webkit-transform: translate(-15px, 0);
                        -ms-transform: translate(-15px, 0);
                        -o-transform: translate(-15px, 0);
                    }

                    .chain-area {
                        height: 56px;
                        width: 88px;
                        position: relative;
                        margin-bottom: 42px;

                        @media (min-width: $screen-md-min) {
                            height: 33px;
                            width: 54px;
                            margin-bottom: 25px;
                        }
                        .chain-icon {
                            width: 56px;
                            height: 56px;
                            background: url("/images/icons/schedules/icon_link_grey.svg") no-repeat center;
                            background-size: contain;

                            @media (min-width: $screen-md-min) {
                                width: 34px;
                                height: 34px;
                            }
                        }

                        .tstat-count {
                            font-size: 32px;
                            color: $GRY4;
                            position: absolute;
                            text-align: center;
                            top: 20px;
                            right: 0;

                            @media (min-width: $screen-md-min) {
                                font-size: 20px;
                                width: 25px;
                                height: 20px;
                                right: 0;
                                top: 13px;
                            }
                        }
                    }
                }
            }

            .thermostat-collection-region {
                margin-bottom: 44px;
                padding: 0;

                @media (min-width: $screen-md-min) {
                    margin-bottom: 22px;
                }

                .thermostat-collection {
                    .thermostat-name-view {
                        margin-left: 48px;
                        margin-right: 48px;

                        @media (min-width: $screen-md-min) {
                            margin-left: 35px;
                            margin-right: 35px;
                        }

                        .name {
                            font-size: 24px;
                            color: $GRY3;
                            padding: 15px 30px;

                            @media (min-width: $screen-md-min) {
                                padding: 10px 16px;
                                font-size: 16px;
                            }
                        }

                        &:nth-child(odd) {
                            background-color: $GRY7;
                        }

                        &:nth-child(even) {
                            background-color: $GRY8;
                        }
                    }
                }
            }

            .edit-icon-container {
                height: 20px;
                padding: 0;
                margin-bottom: 20px;

                .edit-icon {
                    width: 20px;
                    height: 20px;
                    background: url("/images/icons/myEquipment/icon_edit_blue.svg") no-repeat center;
                    background-size: contain;
                    position: absolute;
                    right: 20px;
                }
            }

            .arc-group {
                display: inline-block;
                vertical-align: top;
            }

            .tstat-control-group {
                display: inline-block;
                vertical-align: top;
                position: absolute;
                width: 30px;
                height: 200px;
                margin-top: 30px;
                margin-left: 35px;
                right: 33px;

                @media (min-width: $screen-xs-min) {
                    right: 50px;
                }

                @media (min-width: $screen-md-min) {
                    margin-left: 40px;
                    right: 33px;
                }
            }

            .center-controls {
                @include center-vertical-absolute();
                height: 150px;
                width: 30px;
            }

            .main-mode-icon,
            .hold-mode-icon,
            .fan-mode-icon {
                height: 30px;
                width: 30px;
                margin-bottom: 30px;
                background: no-repeat center;
                background-size: contain;

                // main modes
                &.heating-icon-on {
                    background-image: url("/images/icons/schedules/icon_heater_off_grey.svg");
                }

                &.cooling-icon-on {
                    background-image: url("/images/icons/schedules/icon_air_conditioning_snowflake.svg");
                }

                &.power-icon {
                    background-image: url("/images/icons/schedules/icon_power.svg");
                }

                &.auto-icon {
                    background-image: url("/images/icons/schedules/icon_auto.svg");
                }

                // fan modes
                &.fan-auto {
                    background-image: url('/images/icons/schedules/icon_fan_auto.svg');
                }

                &.fan-on {
                    background-image: url('/images/icons/schedules/icon_fan_grey.svg');
                }

                // hold types
                &.hold-permanent-icon {
                    background-image: url("/images/icons/schedules/icon_permanent_hold.svg");
                }

                &.hold-auto-icon {
                    background-image: url("/images/icons/schedules/icon_follow_schedule.svg");
                }

                &.hold-temporary-icon {
                    background-image: url("/images/icons/schedules/icon_temporary_hold.svg");
                }
            }

            .tstat-arc {
                width: 190px !important;
                height: 190px !important;
                margin: 30px 0 30px 10px;
                z-index: 0;

                @media (min-width: $screen-xs-min) {
                    margin-left: 20px;
                    width: 350px !important;
                    height: 290px !important;
                }

                @media (min-width: $screen-md-min) {
                    width: 190px !important;
                    height: 190px !important;
                }

                .rs-container {
                    width: 190px !important;
                    height: 190px !important;
                    margin-right: 0 !important;

                    @media (min-width: $screen-xs-min) {
                        width: 300px !important;
                        height: 300px !important;
                    }

                    @media (min-width: $screen-md-min) {
                        width: 190px !important;
                        height: 190px !important;
                    }
                }

                .rs-range-color {
                    background-color: $GRY9 !important;
                    opacity: 1 !important;
                }

                .rs-path-color {
                    background-color: $GRY10 !important;
                    opacity: 1 !important;
                }

                .rs-handle {
                    background-color: $WHT0;
                    box-shadow: 0 0 10px 2px;
                    border-radius: 50px;
                }
            }

            .arc-output {
                height: 80px;
                width: 80px;
                top: 81px;
                left: 70px;
                position: absolute;

                @media (min-width: $screen-xs-min) {
                    top: 136px;
                    left: 117px;
                }

                @media (min-width: $screen-md-min) {
                    top: 81px;
                    left: 78px;
                }

                .arc-set-point-temp, .arc-current-temp {
                    text-align: right;
                    color: $GRY_LT4;

                    &:after {
                        content: "\00b0"
                    }
                }

                .arc-set-point-temp {
                    font-size: 50px;
                    font-weight: lighter;
                    height: 85%;
                    line-height: 86px;
                    width: 82px;

                    @media (min-width: $screen-xs-min) {
                        line-height: 65px;
                        font-size: 78px;
                    }

                    @media (min-width: $screen-md-min) {
                        font-size: 50px;
                        line-height: 86px;
                    }
                }

                .arc-current-temp {
                    font-size: 20px;
                    font-weight: lighter;
                    margin-right: 12px;
                    width: 73px;
                    border-top: 1px solid $GRY_LT4;

                    @media (min-width: $screen-xs-min) {
                        width: 106px;
                        font-size: 44px;
                    }

                    @media (min-width: $screen-md-min) {
                        font-size: 34px;
                        width: 73px;
                    }
                }
            }
        }

        .new-interval {
            z-index: 1;

            .add-new-interval-text {
                font-size: 24px;
                font-weight: 600;
                color: $GRY3;
                margin-left: 24px;
                margin-top: 30px;
                margin-bottom: 15px;

                @media (min-width: $screen-md-min) {
                    font-size: 18px;
                    margin-top: 28px;
                    margin-bottom: 13px;
                }
            }

            .time-row {
                position: relative;
                margin-left: 35px;
                margin-right: 44px;

                @media (min-width: $screen-md-min) {
                    margin-left: 36px;
                    margin-right: 24px;
                }

                .start-time {
                    .clock-icon {
                        height: 44px;
                        width: 38px;
                        background: url("/images/icons/schedules/icon_countdown.svg") no-repeat center;
                        background-size: contain;
                        left: -8px;

                        @media (min-width: $screen-md-min) {
                            width: 24px;
                            height: 24px;
                            top: 43px;
                            left: auto;
                        }
                    }

                    .start-time-region {
                        padding-left: 40px;

                        @media (min-width: $screen-md-min) {
                            padding-left: 35px;
                        }

                        .form-control {
                            @media (max-width: $screen-sm-max) {
                                height: 60px;
                            }
                        }
                    }
                }
            }

            .schedule-value-holder {
                padding-left: 50px;
            }

            .temperature-row {
                position: relative;
                margin-left: 35px;
                margin-right: 44px;

                @media (min-width: $screen-md-min) {
                    margin-left: 36px;
                    margin-right: 24px;
                }

                .temperature {
                    @media (max-width: $screen-sm-max) {
                        /*margin-bottom: 76px;*/
                    }

                    .schedule-value-icon {
                        width: 20px;
                        height: 22px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        left: 30px;
                    }

                    .temperature-icon {
                        width: 53px;
                        height: 58px;
                        left: -16px;
                        background: url("/images/icons/schedules/thermometer-partial-fill-grey.svg") no-repeat center;
                        background-size: contain;
                        margin-top: 2px;

                        @media (min-width: $screen-md-min) {
                            width: 34px;
                            height: 34px;
                            left: 5px;
                        }

                        &.mode-header-icon {
                            background-image: url("/images/icons/schedules/icon_power.svg");
                        }

                        &.temperature-header-icon {
                            background-image: url("/images/icons/schedules/thermometer-partial-fill-grey.svg");
                        }
                    }

                    .temperature-region {
                        padding-left: 40px;

                        @media (min-width: $screen-md-min) {
                            padding-left: 35px;
                        }

                        .form-control {
                            @media (max-width: $screen-sm-max) {
                                height: 60px;
                            }
                        }
                    }
                }

                .add-button, .cancel-button {
                    @media (min-width: $screen-md-min) {
                        float: right;
                        margin-top: 22px;
                    }
                }

                .add-button {
                    @media (max-width: $screen-md-min) {
                        margin-bottom: 22px;
                    }
                }

                .cancel-button {
                    @media (max-width: $screen-md-min) {
                        margin-bottom: 46px;
                    }
                }
            }
        }

        .title-row {
            margin-right: 0px;

            @media (min-width: $screen-md-min) {
                margin-bottom: 20px;
            }

            margin-bottom: 30px;

            .title {
                color: $BLU3;
                font-size: 22px;
                font-weight: 600;
            }

            .duplicate-button {

                &.disabled {
                    cursor: not-allowed;
                    color: $GRY_LT4;
                }

                .duplicate-text {
                    font-weight: 600;
                    padding-right: 35px;
                    width: 164px;
                    float: right;
                }

                .duplicate-icon {
                    height: 45px;
                    width: 35px;
                    background: url("/images/icons/icon_add_blue.svg") no-repeat;
                    background-position: 50% 0%;
                    background-size: 35px 35px;
                    position: absolute;
                    right: 0;
                }
            }
        }

        .instructions {
            color: $GRY2;
            font-size: 12px;
            margin-bottom: 40px;

            @media (min-width: $screen-sm-min) {
                margin-bottom: 15px;
            }
        }

        .thermostat-right {
            padding-left: 0;

            @media (min-width: $screen-md-min) {
                padding-left: 40px;
            }

            .instructions {
                color: $GRY2;
                font-size: 14px;
                margin-bottom: 40px;

                @media (min-width: $screen-md-min) {
                    margin-bottom: 15px;
                }
            }

            .thermostat-schedule-menu-region {
                margin-left: 0;
                margin-bottom: 3px;
                margin-right: 0px;

                .thermostat-schedule-menu {
                    margin-bottom: 20px;
                    padding: 10px 0px 10px 9px;
                    margin-bottom: 3px;
                    margin-left: 0;

                    @media (min-width: $screen-md-min) {
                        padding-right: 8px;
                        margin-left: auto;
                    }

                    .start {
                        padding: 10px 0px 10px 10px;
                        border: 1px solid $GRY2;
                        margin-bottom: 3px;

                        @media (min-width: $screen-md-min) {
                            padding-right: 8px;
                        }

                        .text {
                            font-size: 15px;

                            @media (min-width: $screen-sm-min) {
                                font-size: 24px;
                            }

                            @media (min-width: $screen-md-min) {
                                font-size: 16px;
                            }
                        }
                    }

                    .down-arrow {
                        height: 25px;
                        width: 25px;
                        right: 12px;
                        background: url("/images/icons/icon_arrow_down_blue.svg") no-repeat center;
                        background-size: contain;

                        @media (min-width: $screen-md-min) {
                            height: 20px;
                            width: 20px;
                            right: 10px;
                        }

                        @media (min-width: $screen-xs-min) {
                            right: 20px;
                        }
                    }

                    .selection-collection-container {
                        padding-right: 0px;
                        padding-left: 1px;
                        border: 1px solid $GRY2;

                        .schedule-selection-item {
                            margin: 4px 4px 0px 2px;

                            &:nth-last-child(1) {
                                margin-bottom: 4px;
                            }
                        }
                    }

                    .selection {
                        padding: 5px 0px 5px 8px;

                        &.blue {
                            background-color: $BLU13;
                        }
                    }
                }
            }

            .saved-notifier-row {
                color: $RED1;
                text-align: right;
                margin-bottom: 15px;
                height: 20px;

                @media(min-width: $screen-md-min) {
                    margin-bottom: 0;
                }
            }

            .schedule-days {
                margin-left: 0;

                @media (max-width: $screen-md-min) {
                    border: 1px solid $GRY12;
                }

                .buttons {
                    @media (min-width: $screen-md-min) {
                        margin-bottom: 40px;
                        margin-right: 71px;
                    }
                }

                .days {
                    font-size: 18px;
                    font-weight: 600;
                    color: $GRY3;
                    margin-bottom: 18px;
                    padding-left: 0;
                }

                .schedule-intervals {
                    margin-left: 0;
                    margin-right: 0;

                    .interval-view {
                        &:nth-child(odd) {
                            .interval {
                                background-color: $GRY_LT2;
                            }
                        }

                        &:first-of-type {
                            .interval {
                                border-top: 1px solid $GRY_LT1;
                            }
                        }

                        .interval {
                            border-bottom: 1px solid $GRY_LT1;
                            padding-left: 45px;
                            padding-right: 0;

                            @media (max-width: $screen-md-min) {
                                padding-left: 2%;
                            }

                            .time {
                                font-size: 18px;
                                color: $GRY_LT4;
                                margin-top: 20px;
                                margin-bottom: 20px;
                            }

                            .temperature {
                                font-size: 18px;
                                color: $GRY_LT4;
                                width: 110px;
                                text-align: right;
                                margin-left: 10%;

                                @media (min-width: $screen-lg-min) {
                                    margin-left: 14%;
                                }

                                &.lighter {
                                    font-weight: lighter;
                                }

                                &.mode {
                                    width: 80px;
                                }
                            }
                        }

                        .edit-icon {
                            width: 24px;
                            height: 24px;
                            background: url("/images/icons/myEquipment/icon_edit_blue.svg") no-repeat center;
                            background-size: contain;
                            right: 94px;

                            @media (max-width: $screen-xs-min) {
                                right: 54px;
                            }
                        }

                        .delete-icon {
                            width: 24px;
                            height: 24px;
                            background: url("/images/icons/icon_delete_bar.svg") no-repeat center;
                            background-size: contain;
                            right: 35px;

                            @media (max-width: $screen-xs-min) {
                                right: 15px;
                            }
                        }

                        .confirm-delete-icon {
                            width: 85px;
                            height: 100%;
                            text-align: center;
                            padding-top: 20px;
                            color: #FFF;
                            background: #DD2C00;
                            background-size: contain;
                            right: 0px;

                            @media (min-width: $screen-xs-min) {
                                right: 0px;
                            }
                        }
                    }
                }

                .add-interval-row {
                    margin-bottom: 10px;
                    margin-right: 5px;

                    @media (min-width: $screen-xs-min) {
                        margin-right: 28px;
                        margin-bottom: 30px;
                    }

                    @media (min-width: $screen-md-min) {
                        margin-right: 0;
                    }
                }
            }

            .buttons {
                @media (min-width: $screen-md-min) {
                    margin-bottom: 40px;
                    margin-right: 71px;
                }

                .cancel-button, .add-button, .default-button, .delete-all-button {
                    display: none;
                    @media (min-width: $screen-md-min) {
                        float: right;
                        margin-top: 26px;
                        display: block;
                    }
                }

                .add-button {
                    @media (max-width: $screen-md-min) {
                        margin-bottom: 20px;
                    }
                }

                .cancel-button {
                    @media (max-width: $screen-md-min) {
                        margin-bottom: 46px;
                    }
                }
            }
        }

        .column-labels {
            font-size: 10px;
            color: $GRY_LT4;
            font-weight: bold;
            margin-left: 2%;

            @media (min-width: $screen-xs-min) {
                font-size: 12px;
            }

            @media (min-width: $screen-md-min) {
                margin-left: 5px;
            }

            .time-holder {
                @media (max-width: $screen-md-min) {
                    padding-left: 0;
                }
            }

            .time-icon {
                width: 14px;
                height: 16px;
                background: url("/images/icons/schedules/icon_countdown.svg") no-repeat center;
                background-size: contain;
                left: 7%;

                @media (min-width: $screen-xs-min) {
                    left: 3%;
                }

                @media (min-width: $screen-md-min) {
                    left: 17px;
                }
            }

            .time {
                @media (max-width: $screen-md-min) {
                    padding-left: 20px;
                }
            }

            .temperature-holder {
                padding-left: 50px;

                @media (max-width: $screen-md-min) {
                    padding-left: 15px;
                }
            }

            .temperature-header-icon {
                width: 20px;
                height: 22px;
                background: url("/images/icons/schedules/thermometer-partial-fill-grey.svg") no-repeat center;
                background-size: contain;
                left: 6%;

                @media (min-width: $screen-xs-min) {
                    left: 3%;
                }

                @media (min-width: $screen-md-min) {
                    left: 30px;
                }
            }
        }

        .mobile-intervals {
            margin-bottom: 40px;

            .delete-interval {
                color: $BLU2;
            }

            .tab-header {
                border-radius: 0;
                border: 0;
                margin-top: 10px;
                padding-left: 40px;
                padding-right: 40px;
                font-size: 30px;
                font-weight: 600;
            }

            .daily-tabs {
                .tab-header {
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 16px;

                    @media (min-width: $screen-xs-min) {
                        font-size: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                    }

                    @media (min-width: $screen-sm-min) {
                        font-size: 30px;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }

            .work-week-tabs {
                .tab-header {
                    padding-left: 20px;
                    padding-right: 20px;
                    @media (min-width: $screen-xs-min) {
                        padding-left: 40px;
                        padding-right: 40px;
                    }
                }
            }

            .tabbed-bottom-effect {
                height: 12px;
            }

            .nav {
                color: $GRY3;
                opacity: 0.5;

                &.active {
                    border-bottom: 1px solid $GRY_LT1;
                    background-color: $GRY_LT6;

                    .tabbed-bottom-effect {
                        background-color: $BLU12;
                    }

                    .tab-header {
                        background-color: $GRY_LT6;
                    }

                    opacity: 1;
                }
            }

            a {
                color: $GRY3;

                &:hover {
                    background-color: $GRY_LT2;
                }
            }

            .interval-view {
                &:nth-child(odd) {
                    .interval {
                        background-color: $GRY_LT2;
                    }
                }

                &:last-child {
                    .interval {
                        border-bottom: 0;
                    }
                }

                .interval {
                    border-bottom: 1px solid $GRY_LT1;
                    padding-left: 2%;
                    padding-right: 0;

                    @media (min-width: $screen-md-min) {
                        padding-left: 45px;
                    }

                    .time {
                        margin-left: 3%;
                        font-size: 18px;
                        color: $GRY_LT4;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }

                    .temperature {
                        font-size: 20px;
                        /*width: 60px;*/
                        text-align: right;
                        color: $GRY_LT4;
                        margin-left: 20%;

                        @media (min-width: $screen-xs-min) {
                            margin-left: 15%;
                            font-size: 28px;
                        }

                        @media (min-width: 550px) {
                            margin-left: 25%;
                        }

                        @media (min-width: $screen-md-min) {
                            margin-left: 22%;
                        }

                        &.lighter {
                            font-weight: lighter;
                        }

                        &.mode {
                            width: 80px;
                        }
                    }
                }

                .edit-icon {
                    width: 24px;
                    height: 24px;
                    background: url("/images/icons/myEquipment/icon_edit_blue.svg") no-repeat center;
                    background-size: contain;
                    right: 94px;

                    @media (min-width: $screen-xs-min) {
                        right: 110px;
                    }
                }

                .delete-icon {
                    width: 24px;
                    height: 24px;
                    text-align: center;
                    background: url("/images/icons/icon_delete_bar.svg") no-repeat center;
                    background-size: contain;
                    right: 35px;

                    @media (min-width: $screen-xs-min) {
                        right: 55px;
                    }
                }

                .confirm-delete-icon {
                    width: 85px;
                    height: 100%;
                    text-align: center;
                    padding-top: 20px;
                    color: #FFF;
                    background: #DD2C00;
                    background-size: contain;
                    right: 0px;

                    @media (min-width: $screen-xs-min) {
                        right: 0px;
                    }
                }
            }
        }
        
        .add-button-mobile {
            margin-bottom: 10px;
        }

         .cancel-button-mobile{
            margin-bottom: 10px;
        }

        .delete-all-button-mobile {
            margin-bottom: 10px;
        }

        .default-button-mobile {
            margin-bottom: 30px;
        }

        .buttons-row {
            @media (max-width: $screen-sm-max) {
                margin-right: 0 !important;
            }

            .add-button {
                margin-bottom: 10px;
                
                @media (max-width: $screen-sm-max) {
                    margin-top: 76px;
                }

                @media (min-width: $screen-md-min) {
                    float: right;
                }
            }

            .cancel-button {
                margin-bottom: 30px;

                @media (min-width: $screen-md-min) {
                    float: right;
                }
            }
        }

        .delete-interval {
            @media (max-width: $screen-sm-max) {
                @include center-horizontal-absolute();
            }

            @media (min-width: $screen-md-min) {
                float: right;
            }
        }

        .saved-text {
            margin-top: 20px;
            color: $RED1;
            opacity: 0;
            font-size: 28px;
            height: 28px;
            margin-bottom: 20px;

            &.activate {
                opacity: 1;
            }
        }
    }
}

#schedule-empty-layout {
    .empty-view-message {
        color: $RED1;
    }
}

#duplicate-schedule-modal {
    .duplicate-error {
        color: $RED1;
    }

    .buttons {
        .duplicate-button {
            @media (min-width: $screen-sm-min) {
                float: right;
            }
        }

        .cancel-button {
            @media (min-width: $screen-sm-min) {
                float: right;
            }
        }
    }
}


