<div class="bb-breadcrumbs"></div>
<div class="row">
	<div class="bb-alias-edit col-xs-12"></div>
</div>
<div class="row heading-row center-contents-row">
	<h1 class="bb-equipment-name equipment-name font-semi-bold pull-left"></h1>
	<div class="col-xs-2 col-sm-1">
		<div role="button" class="bb-pencil-icon pencil-icon center-block"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<section class="bb-equipment-pane-wrapper panel panel-default">
			<div class="equipment-pane panel-body width100">
				<div class="absolute-fill">
					<div class="bb-equipment-icon equipment-icon center-block center-vertical-horizontal-absolute"></div>
					<div class="bb-spinner spinner"></div>
				</div>
			</div>
		</section>
	</div>
    
    
	<div class="col-sm-9">
		<div id="bb-info-region"></div>
		<div id="bb-settings-region"></div>
        <div class="row bb-equipment-page-password-row">
           
			<div class="col-xs-6 bb-text-psw">
                <!--<div class="bb-text-psw"></div>-->
            </div>
            <div class="col-xs-6 bb-button-psw-save">
                <!--<div class="bb-button-psw-save"></div>-->
            </div>
		</div>
		<div class="row">
            <!-- Bug_CASBW-22 -->
            <div class="saved-label invisible" data-i18n="common.labels.saved"></div>
            <div class="no-saved-label invisible" data-i18n="equipment.settings.noChangesSaved"></div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-push-6 col-sm-offset-0 margin-t-20 bb-button-save"></div>
			<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-pull-6 col-sm-offset-0 margin-t-20 bb-button-cancel"></div>
		</div>
		<div id="bb-remove-equipment"></div>
	</div>
</div>
