<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="icon-warning margin-auto"></div>
			<div class="row">
				<div id="bb-main-text" class="delete-one-touch-modal-text col-xs-12 text-center"></div>
				<div class="col-xs-12 text-center" data-i18n="equipment.oneTouch.details.delete.modalText"></div>
			</div>
			<hr class="hidden-xs"/>
			<div class="row">
				<div id="bb-right-button-region" class="col-xs-8 col-xs-push-2 col-sm-4 margin-t-20"></div>
				<div id="bb-left-button-region" class="col-xs-8 col-xs-push-2 col-sm-4 margin-t-20"></div>
			</div>
		</div>
	</div>
</div>