<div class="bb-breadcrumbs"></div>
<div class="row heading-row center-contents-row margin-b-20">
	<h1 id="bb-one-touch-name-page-title" class="h1 col-xs-8 col-sm-10 font-semi-bold"></h1>
	<div class="bb-enable-checkbox enable-checkbox col-xs-4 col-sm-2 padding-0"></div>
</div>
<div class="row page-content-row">
	<div class="col-xs-12 col-sm-3">
		<section class="bb-one-touch-pane-wrapper panel panel-default">
			<div class="one-touch-pane panel-body width100">
				<div class="absolute-fill">
					<div class="one-touch-icon center-block center-vertical-horizontal-absolute"></div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-xs-12 col-sm-9 bb-one-touch-details">
		<div class="bb-rule-criteria rule-criteria"></div>
		<div class="row button-link-row margin-b-20">
			<div class="col-xs-10 col-sm-4 col-xs-pull-1 col-sm-pull-0 pull-right">
				<div class="bb-run-now margin-t-10"></div>
			</div>
			<div class="col-xs-12 col-sm-5 col-sm-offset-3">
				<div class="center-relative inline-block margin-t-10">
					<div class="bb-edit-link edit-link inline-block"></div>
					<div class="bb-delete-link delete-link inline-block"></div>
				</div>
			</div>
		</div>
		<div class="bb-pin-to-dash pin-to-dash row">
			<div class="pin-to-dash-text col-xs-12" data-i18n="equipment.oneTouch.details.addToDash"></div>
		</div>
		<div class="bb-include-in-myStatus-region">
			<div id="bb-myStatus-spinner" class="spinner center-block"></div>
		</div>
	</div>
</div>