<div class="bb-scene-background scene-icon relative-size-1x1 width100">
	<div class="absolute-fill">
		<div class="bb-scene-name scene-name"></div>
		<div class="bb-scene-selected scene-selected"></div>
	</div>
</div>