<div class="inner-scroll-window bb-inner-content">
	<div class="row mobile-header-row shadow">
		<div class="col-xs-6">
			<div class="center-vertical-absolute logo-icon"></div>
			<button type="button" class="btn btn-default navbar-btn salus-navbar-btn mobile-menu-back bb-mobile-menu-back"
					data-i18n="common.labels.back"></button>
		</div>
		<div class="col-xs-6">
			<div class="center-vertical-absolute bb-close-btn close-btn"></div>
		</div>
	</div>
</div>
<div class="bb-mobile-menu-overlay mobile-menu-overlay"></div>
