<div class="col-xs-2">
	<div class="bb-device-connectivity-icon device-connectivity-icon center-block"></div>
</div>
<div class="col-xs-6 col-sm-7">
	<div class="bb-device-name device-name"></div>
</div>
<div class="device-msg col-xs-4 col-sm-3">
	<div class="bb-device-msg-top device-msg-top"></div>
	<div class="bb-device-msg-bottom device-msg-bottom"></div>
</div>