<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title><%= title %></title>

	<!-- Bootstrap -->
	<link href="/css/styles.css" rel="stylesheet">
	<!-- Preload fonts -->
	<style>.preload {position: absolute; visibility: hidden; font-family: 'Open Sans'; }</style>

</head>
<body class="dashboard-background-color">
<%- include("modules/mainBody.ejs")%>



<script type="application/javascript">
	(function () {
		/*Prefetch*/
		try {
			var language = "en", supportedLanugages = [
				"en", "en-uk", "nl", "ro", "ru", "fr", "sv", "da", "de", "pl","no"
			], local = navigator.language || navigator.browserLanguage;

			if ((supportedLanugages.indexOf(local) >= 0)) {
				language = local;
			} else {
				var codeParts = local.split("-");
				if (codeParts && codeParts[0]) {
					if (supportedLanugages.indexOf(codeParts[0]) >= 0) {
						language = codeParts[0];
					}
				}
			}

			var xmlHttp = new XMLHttpRequest();
			xmlHttp.open("GET", "/translations/" + language + "/consumer.json", true);
			xmlHttp.send(null);
		} catch (e) {
			/*Do nothing*/
		}
	})();
</script>

<%- include("modules/preloadBackgroundImage.ejs")%>

<script src="/js/consumer.js"></script>
<%# Build will swap out inline-js comment for actual js %>
<!-- inline-js -->
</body>
</html>