<div class="container-fluid delete-user-profile-modal">
	<div class="row">
		<div class="col-xs-12">
			<div class="icon-warning margin-auto"></div>
			<div class="row">
				<div class="col-xs-12 text-center" data-i18n="settings.profile.deleteProfileWarningLine1"></div>
				<div class="col-xs-12 text-center" data-i18n="settings.profile.deleteProfileWarningLine2"></div>
			</div>
			<div class="row remove-user-error hidden">
				<div class="col-xs-12 text-center" data-i18n="settings.profile.deleteProfileErrorMsg"></div>
			</div>
			<hr class="hidden-xs"/>
			<div class="row">
				<div id="bb-right-btn-area" class="col-xs-8 col-xs-push-2 col-sm-4 margin-t-20"></div>
				<div id="bb-left-btn-area" class="col-xs-8 col-xs-push-2 col-sm-4 margin-t-20"></div>
			</div>
		</div>
	</div>
</div>