<div class="setup-wizard-header"></div>
<div class="container">
	<div class="col-xs-12 col-sm-10 col-sm-offset-2">
		<div class="page-header">
			<h1 class="h1">Reset Password</h1>
		</div>
	</div>
	<div class="col-xs-12 col-sm-10 col-sm-offset-3">
		<div class="row form">
			<div class="col-xs-12">
				<div class="row margin-b-15">
					<div class="col-xs-12 col-sm-6">
						<div class="bb-email"></div>
					</div>
				</div>
				<div class="row margin-b-15">
					<div class="col-xs-12 col-sm-6">
						<div class="bb-new-password"></div>
						<div class="bb-confirm-password"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-sm-offset-2">
		<div class="row margin-b-45">
			<div class="col-xs-12 password-req-wrp" data-i18n="settings.profile.changePassword.passwordRequirements"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 form col-sm-offset-3 toc-button-form margin-b-45">
			<div class="col-xs-12 col-sm-3 col-sm-push-2 bb-submit-button"></div>
			<div class="col-xs-12 col-sm-2 col-sm-pull-3 bb-cancel-button cancel-button"></div>
		</div>
	</div>
</div>
