<div class="col-xs-2 col-xs-offset-1 col-sm-offset-0">
	<div class="bb-device-icon device-icon"></div>
</div>
<div class="bb-device-type device-type col-xs-6 col-sm-3"></div>
<div class="col-xs-3 col-sm-2 pull-right">
	<div class="bb-identify-button identify-button"></div>
</div>
<div class="bb-name-textbox"></div>