<div class="modal-header">
	<h4 id="change-all-title" class="col-xs-12 text-center"></h4>
</div>
<div class="modal-body margin-t-30">
	<div class="col-xs-12 text-center" data-i18n="equipment.dialog.body"></div>
</div>
<div class="modal-footer margin-t-20">
	<div id="bb-btn-change-all" class="col-xs-12 text-center"></div>
	<div id="bb-btn-cancel" class="col-xs-12 text-center margin-t-10"></div>
</div>