<div class='mobile-intervals bb-tab-view-region col-xs-12 padding-l-0 padding-r-0'></div>
<div class="bb-add-new-interval-button bb-add-new-interval-region add-new-interval-region-mobile col-xs-12 col-md-10 padding-l-0 hidden"></div>
<div class="col-xs-12">
	<div class="row add-interval-row">
		<div class="bb-add-interval-button add-interval-button-region col-xs-12">
			<div role="button" class="bb-add-interval add-interval pull-right">
				<div class="bb-text text text-right" data-i18n="schedules.schedule.addInterval"></div>
				<div class="add-icon center-vertical-absolute"></div>
			</div>
		</div>
	</div>
</div>
<div class="col-xs-8 col-xs-offset-2">
	<div class="bb-saved-text saved-text pull-right" data-i18n="common.labels.saved"></div>
</div>
<div class="bb-add-button-mobile add-button-mobile col-xs-offset-2 col-xs-8 hidden"></div>
<div class="bb-cancel-button-mobile cancel-button-mobile col-xs-offset-2 col-xs-8 hidden"></div>
<div class="bb-delete-all-button-mobile delete-all-button-mobile col-xs-offset-2 col-xs-8 hidden"></div>
<div class="bb-default-button-mobile default-button-mobile col-xs-offset-2 col-xs-8 hidden"></div>
<div class="col-xs-12 padding-r-0">
	<div class="edit-button-row row">
		<div class="bb-edit-button-area edit-button-area col-xs-12 padding-l-0 hidden">
			<div role="button" class="bb-edit-button edit-button pull-right">
				<div class="bb-edit-icon edit-icon"></div>
			</div>
		</div>
	</div>
</div>




